.wrap {
  -webkit-appearance: none;
  font-size: calc(var(--base-spacing) * 2);
  border: 1px solid var(--color-primary);
  color: var(--color-background);
  background-color: var(--color-primary);
  border-radius: calc(var(--base-spacing) / 2);
  padding: var(--base-spacing) calc(var(--base-spacing) * 2);
  cursor: pointer;
  transition: all 0.3s;
}

.wrap:hover {
  background-color: var(--color-background);
  color: var(--color-primary);
}
